---
const img = "/src/assets/img/Gemini_Generated_Image_nrmua9nrmua9nrmu.png";
---

<section>
  <div
    class="relative w-6 h-6 rounded-full border-4 border-[#09EAEA] shadow-lg overflow-hidden left-1/3"
  >
  </div>
  <div
    class="relative w-64 h-64 rounded-full border-4 border-[#09EAEA] shadow-lg overflow-hidden"
  >
    <img src={img} class="w-full h-full object-cover" />
  </div>
  <div
    class="relative w-5 h-5 rounded-full border-4 border-[#09EAEA] shadow-lg overflow-hidden"
  >
  </div>
</section>
