---
const name = "Luisa Montalvo   </>";
---

<header class="md:flex justify-between text-xl">
  <span>{name}</span>
  <nav class="align-text-top space-x-6 text-xl">
    <a href="#home"> Inicio</a>
    <a href="#about"> Sobre mi</a>
    <a href="#skills"> Habilidades</a>
    <a href="#experience"> Experiencia</a>
    <a href="#contact"> Contacto</a>
  </nav>
</header>
