---
const img = "src/assets/img/WhatsApp Image 2026-01-27 at 3.33.05 PM.jpeg";
---

<div class="relative w-64 h-64 border-4 border-[#09EAEA] shadow-2xl">
  <img class="w-full h-full object-cover" src={img} />

  <!-- Etiqueta -->
  <div
    class="absolute -bottom-3 -right-3 bg-[#030712] text-[#09EAEA] font-mono
           px-3 py-1 text-7xl shadow-lg"
  >
    &lt;/&gt;
  </div>
</div>
